@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&family=Tektur:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sen' , sans-serif;
}

.container {
    max-width: 1440px;
    margin : 0 auto ;
}

nav ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 80px;
    /*border: 1px solid red;*/
}
nav ul img {
    width: 50px;
    height: 50px;
}

.header-logo {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 15px
}
.header-logo h1 {
    margin-left: 15px;
    font-size: 24px;
}

.header-button {
    /*border: 1px solid blue;*/
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 600px;
}

.header-button li {
    list-style: none;
}

.header-button li a {
    text-decoration: none;
    color: #21383E;
}

.header-button li a:hover {
    text-decoration: underline;
}
.header-button button {
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    color: #fff;
    border: none;
    /***/
    background-image: -webkit-linear-gradient( 90deg, #ffffff 50%, transparent 50%);
    background-image: linear-gradient( 90deg, #00766a 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}
.header-button button:hover {
    cursor: pointer;
    border: 1px solid black;
    color: #000000;
    background-position: 100%;
}

.header-title img{
    display: flex;
    border-radius: 20px;
    margin: 50px auto;
    border: 3px solid #00766a;
}
.header-title h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 400;
    margin-top: 50px;
}
.about {
    display: flex;
    justify-content: space-evenly;
}

.about-left {
    width: 850px;
}
.about-left img {
    width: 850px;
    height: 600px;
    border-radius: 20px;
    border: 3px solid #00766a;
}
.about-left h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 30px;
}
.about-left p {
    font-size: 16px;
    margin-top: 15px;
    color: #606060;
}

.about-right {
    width: 450px;
    height: 500px;
    border: 3px solid #00766a;
    border-radius: 20px;
    background-color: #bfd6d4;
}

.about-right h3 {
    color: #00766a;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.about-contract {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid blue;*/
    width: 240px;
    margin: 15px auto;
    border-radius: 20px;
    /***/
    background-color: white;
    background-image: -webkit-linear-gradient( 90deg, #ffffff 50%, transparent 50%);
    background-image: linear-gradient( 90deg, #00766a 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}
.about-contract img {
    width: 60px;
    height: 60px;
    border-radius: 20px;
}
.about-contract h2 {
    padding-left: 15px;
    color: white;
}

.about-contract:hover {
    cursor: pointer;
    border: 3px solid #00766a;
    background-position: 100%;
}
.about-contract:hover h2 {
    color: #00766a;
}
#face {
    background-color: #1877F2;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
.fa-facebook {
    font-size: 50px;
}

.footer {
    margin-top: 100px;
    height: 250px;
    background-color: #00766a;
    border-radius: 50px 50px 0px 0px;
}
.location {
    border: 1px solid white;
}
.location h3 {
    font-size: 28px;
    color: white;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.location p {
    color: white;
    font-size: 19px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid yellow;*/
    margin: 10px auto;
}
