@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&family=Tektur:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sen' , sans-serif;
}

.container {
    max-width: 1440px;
    margin : 0 auto ;
}

nav ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 80px;
    /*border: 1px solid red;*/
}
nav ul img {
    width: 50px;
    height: 50px;
}

.header-logo {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 15px
}
.header-logo h1 {
    margin-left: 15px;
    font-size: 24px;
}

.header-button {
    /*border: 1px solid blue;*/
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 600px;
}

.header-button li {
    list-style: none;
}

.header-button li a {
    text-decoration: none;
    color: #21383E;
}

.header-button li a:hover {
    text-decoration: underline;
}
.header-button button {
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    color: #fff;
    border: none;
    /***/
    background-image: -webkit-linear-gradient( 90deg, #ffffff 50%, transparent 50%);
    background-image: linear-gradient( 90deg, #00766a 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}
.header-button button:hover {
    cursor: pointer;
    border: 1px solid black;
    color: #000000;
    background-position: 100%;
}

.header-title {
    display: flex;
    justify-content: space-around;
    /*border: 1px solid red;*/
    align-items: center;
    height: 600px;
}
.header-title-left img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.header-title-right h3 {
    font-size: 18px;
    color: #9E8C6C;
}

.header-title-right h1 {
    font-size: 100px;
}


.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    background-color: #f8e8cd;
    /*transform: rotate(-5deg);*/
}

.about-right {
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    width: 500px;
}



.about-right img {
    width: 338px;
    height: 433px;
    border-radius: 50% 50% 0 0;
    margin-left: 100px;
}

.about-right-box {
    width: 234px;
    height: 94px;
    background-color: #a08270;
    border-radius: 15px 15px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -530px;
    margin-top: -60px;
}
.about-right-box h2 {
    margin: 0 20px;
    font-size: 14px;
    color: #fff;
}
.about-left {
    /*border: 1px solid red;*/
    width: 500px;
}
.about-left h2 {
    font-size: 50px;
}
.about-left p {
    margin-top: 30px;
    color: #5c6a6e;
}

.skill {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 450px;
    /*border: 1px solid red;*/
}

.skill-right h1 {
    font-size: 50px;
    margin-bottom: 30px;
    color: #9E8C6C;
}
.skill-right li {
    font-size: 20px;
    color: #5c6a6e;
}

.skill-right h2 {
    font-size: 50px;
    margin: 30px 0;
    color: #9E8C6C;
}
.skill-icon {
    width: 300px;
    display: flex;
    justify-content: space-around;
}
.skill-icon i {
    font-size: 40px;
}
.fa-java:hover {
    color: #1a0e8b;
}
.fa-css3-alt:hover {
    color: #4132c9;
}
.fa-html5:hover {
    color: #eb7d00e8;
}
.fa-square-js:hover {
    color: #e2c000;
}
.fa-bootstrap:hover {
    color: #7b00ce;
}

footer {
    height: 350px;
    width: 1440px;
    display: flex;
    justify-content: center;
    background-color: #f8e8cd;
    margin : 0 auto ;
}

.footer-title h1{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 50px;
}

.footer-title h2 {
    font-size: 30px;
    color: #5c6a6e;
    font-weight: 300;
    margin-top: 30px;
}

.footer-icon {
    display: flex;
    font-size: 40px;
    justify-content: space-around;
    width: 200px;
    margin: 30px 35%;
}
.footer-icon a {
    color: #000;
}

#face:hover {
    background-color: #1877F2;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

#insta:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }

#line:hover {
    background-color: #00B900;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

#git:hover {
    cursor: pointer;
}

